:root{
    --body-backgound: #EEEEEE;

    --p-color: #7D7987;
    --p-fontSize: 18px;

    --h2-color: #000;
    --h2-fontSize: 36px;
}

/* Normalise styles */
    body{
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6, p{
        margin: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a{
        text-decoration: none;
    }

/* Global styles */
    body{
        font-family: 'Mulish', sans-serif;
        background-color: var(--body-backgound);
    }

    p{
        color: var(--p-color);
        font-size: var(--p-fontSize);
    }

    h2{
        color: var(--h2-color);
        font-size: var(--h2-fontSize);
    }

/* Header */
.header-container{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.header__link{
    margin-right: auto;
}
.header__link__img{
    width: 160px;
    height: 41px;
}
.header__list__item__link{
    color: var(--1f1534-hyfen, #1F1534);
    font-family: 'Mulish';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
}
.header__list__item{
    margin-left: 40px;
}
.active{
    opacity: 1;
}
.header__list{
    display: flex;
    align-items: center;
}

/* /Header */

/* Hero */
.hero{
    display: flex;
    align-items: center;
    
}
.hero__wrp{
    margin-right: 109px;
}
.hero__wrp__title{
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    width: 427px;
    margin-bottom: 25px;
}
.hero__wrp__text{
    width: 445px;
    color: #7D7987;
    font-family: 'Mulish';
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 152.381% */
    margin-bottom: 48px;
}
.hero__wrp__btn{
    color: #FFF;
    font-family: 'Mulish';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 333.333% */
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 55px;
    background: #458FF6;
    border: none;
}
.hero__img{
    width: 693px;
    height: 598px;
}

/* /Hero */

/* Section 1 */


/* /Section 1 */

/* Section 2 */


/* /Section 2 */

/* Section 3 */


/* /Section 3 */

/* Section 4 */


/* /Section 4 */

/* Section 5 */


/* /Section 5 */

/* Footer */


/* /Footer */