:root{
    --body-backgound: #EEEEEE;

    --p-color: #7D7987;
    --p-fontSize: 18px;

    --h2-color: #000;
    --h2-fontSize: 36px;
}

/* Normalise styles */
    body{
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6, p{
        margin: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a{
        text-decoration: none;
    }

/* Global styles */
    body{
        font-family: 'Mulish', sans-serif;
        background-color: var(--body-backgound);
    }

    .container{
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 20px;
    }

    p{
        color: var(--p-color);
        font-size: var(--p-fontSize);
    }

    h2{
        color: var(--h2-color);
        font-size: var(--h2-fontSize);
    }

    .hr-center{
        width: 56px;
        height: 2px;
        border-radius: 50px;
        border: none;
        background-color: #000;
    }
    
    .hr-start{
        width: 56px;
        height: 2px;
        margin: 0;
        border-radius: 50px;
        border: none;
        background-color: #000;
    }

    button{
        width: 200px;
        height: 56px;
        box-sizing: border-box;
        margin: 0 auto;
        display: block;
        color: #458FF6;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px; /* 333.333% */
        border-radius: 55px;
        border: 1.4px solid #458FF6;
        transition: all .2s;
        cursor: pointer;
    }

    button:hover{
        transform: scale(1.1);
    }

/* Header */
.header-container{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 80px;
}
.header__link{
    margin-right: auto;
}
.header__link__img{
    width: 160px;
    height: 41px;
}
.header__list__item__link{
    color: var(--1f1534-hyfen, #1F1534);
    font-family: 'Mulish';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
}
.header__list__item{
    margin-left: 40px;
}
.active{
    opacity: 1;
}
.header__list{
    display: flex;
    align-items: center;
}

/* /Header */

/* Hero */
.hero{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 192px;
}
.hero__wrp{
    margin-right: 109px;
}
.hero__wrp__title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    width: 427px;
    margin-bottom: 25px;
}
.hero__wrp__text{
    width: 445px;
    color: #7D7987;
    font-family: 'Mulish';
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 152.381% */
    margin-bottom: 48px;
}
.hero__wrp__btn{
    color: #FFF;
    font-family: 'Mulish';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 333.333% */
    border-radius: 55px;
    background: #458FF6;
    border: none;
    cursor: pointer;
    margin: 0;
}
.hero__img{
    width: 693px;
    height: 598px;
}

/* /Hero */

/* Section 1 */

    .section1{
        margin-bottom: 221px;
    }

    .section1__h2title{
        margin-bottom: 26px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        line-height: 56px; /* 155.556% */
    }

    .section1__hr{
        margin-bottom: 33px;
    }

    .section__ptext{
        width: 952px;
        margin: 0 auto;
        margin-bottom: 80px;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        line-height: 30px; /* 166.667% */
    }

    .section1__ullist{
        width: 1123px;
        margin: 0 auto;
        margin-bottom: 72px;
        display: grid;
        grid-template-columns: 350px 350px 350px;
        gap: 35px;
    }

    .section1__liitem{
        height: 354px;
        box-sizing: border-box;
        padding: 55px 45px 45px 35px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
        transition: all .4s;
        cursor: pointer;
    }
    .section1__liitem:hover{
        transform: translateY(10px);
    }

    .section1__imgicon{
        height: 95px;
        margin-bottom: 25px;
        object-position: bottom;
    }

    .section1__h3title{
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px; /* 233.333% */
    }

    .section1__ptext{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 175% */
    }

/* /Section 1 */

/* Section 2 */
.section2{
    display: flex;
    align-items: center;
    margin-bottom: 229px;
    justify-content: space-between;
}
.section2__img{
    width: 650px;
    height: 477px;
}
.section2__wrp{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.section2__wrp__title{
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 155.556% */
    width: 481px;
    margin-bottom: 26px;
}
.section2__wrp__line{
    width: 56px;
    margin-bottom: 31px;
}
.section2__wrp__text{
    width: 450px;
    margin-bottom: 40px;
}

.section2__btn{
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* /Section 2 */

/* Section 3 */
.section3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 266px;
}
.section3__img{
    width: 665px;
    height: 434px;
}

/* /Section 3 */

/* Section 4 */

    .section4{
        margin-bottom: 222px;
    }

    .section4__comments{
        width: 1120px;
        height: 445px;
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 42px;
        padding: 64px 118px 79px 118px;
        border-radius: 24px;
        background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
    }

    .section4__comments__h2title{
        margin-bottom: 25px;
        color: #FFF;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 133.333% */
    }

    .section4__comments__hr{
        margin-bottom: 66px;
        background-color: #FFF;
    }

    .section4__comments__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section4__comments__bottom__account{
        display: flex;
        align-items: center;
    }

    .section4__comments__imgman{
        width: 141px;
        height: 141px;
        box-sizing: border-box;
        margin-right: 29px;
        border-radius: 50%;
        border: 4px solid #FFF;
    }

    .section4__comments__name{
        width: 184px;
        color: #FFF;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; /* 218.182% */
    }

    .section4__comments__whoare{
        color: #ffffffd9;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 266.667% */
    }

    .section4__comments__massage{
        width: 390px;
        color: #ffffffe6;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 157.895% */
    }


    .section4__buttons{
        width: 20%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section4__buttons__arrow{
        transition: all .4s;
        cursor: pointer;
    }

    .section4__buttons__arrow:hover{
        opacity: .4;
    }

/* /Section 4 */

/* Section 5 */
.section5{
    position: relative;
    margin-bottom: 202px;
}
.section5__h2title{
    text-align: center;
}
.section5__hrline{
    margin-bottom: 72px;
}
.section5__ullist{
    width: 1118px;
    margin: 0px auto 72px auto;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 34px;
    position: relative;
    z-index: 2;
}
.section5__liitem{
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}
.section5__imgimage{
    border-radius: 20px 20px 0px 0px;
}
.section5__bottom-words{
    padding: 21px 51px 35px 33px;
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
}
.section5__h3title{
    margin-bottom: 12px;
    color: #000;
    font-family: sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 152.381% */
}
.section5__ptext{
    margin-bottom: 25px;
    font-size: 16px;
}
.section5__alink{
    color: #4089ED;
    font-family: sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 164.706% */
}
.section5__btnbutton{
    display: block;
    margin: 0px auto;
}
.section5__hr{
    margin-bottom: 72px;
    margin-top: 26px;
}


/* /Section 5 */

/* Footer */
footer{
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.footer-container{
    padding: 109px 214px 109px 190px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer__part1{
    width: 391px;
}
.footer__logo{
    margin-bottom: 17px;
}
.footer__ptext{
    margin-bottom: 31px;
    color: #FFF;
    font-size: 18px;
    line-height: 28px; /* 155.556% */
}
.footer__copy{
    font-size: 16px;
}
.footer__part2{
    width: 120px;
}
.footer__h3title{
    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 300% */
}
.footer__parts-link{
    color: #FFF;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px; /* 211.111% */
}
.element9{
    position: absolute;
    left: -19px;
    bottom: -19px;
}
/* Adapting */
.adapting-button{
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
}
.adapting-button-fixed{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100 !important;
}
.bars{
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    display: block;
    border-radius: 30px;
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    transform-origin: right;
    transition: all .4s;
}
.adapting-wrapper{
    padding: 60px 40px;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99 !important;
    background: #f3f7ffbb;
    backdrop-filter: blur(4px);
}
.adapting-item{
    margin-bottom: 40px;
}
.adapting-link{
    opacity: 1;
}
.bar1{
    transform: rotate(-42deg);
}
.bar2{
    opacity: 0;
}
.bar3{
    transform: rotate(42deg);
}
.block{
    display: block;
}


/* /Footer */